{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Sandboxes</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ sandbox.namespace }}</li>
  </ol>
</nav>

{% for link in sandbox.links %}
{% if link.icon.startswith("https://") %}
<a href="{{ link.url }}" target="_blank"><img src="{{ link.icon }}" style="max-width: 32px; max-height: 32px;"/></a>
{% else %}
<a href="{{ link.url }}" class="btn btn-primary" target="_blank"><i class="{{ link.icon }}"></i></a>
{% endif %}
{% endfor %}

<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-confirmation">Delete</button>
<br/>
<br/>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Cluster access</button>
    <button class="nav-link" id="nav-pod-tab" data-bs-toggle="tab" data-bs-target="#nav-pod" type="button" role="tab" aria-controls="nav-pod" aria-selected="false">Running pods</button>
    <button class="nav-link" id="nav-ingress-tab" data-bs-toggle="tab" data-bs-target="#nav-ingress" type="button" role="tab" aria-controls="nav-ingress" aria-selected="false">Ingresses</button>
    <button class="nav-link" id="nav-mysqldatabase-tab" data-bs-toggle="tab" data-bs-target="#nav-mysqldatabase" type="button" role="tab" aria-controls="nav-mysqldatabase" aria-selected="false">MySQL</button>
    <button class="nav-link" id="nav-postgresdatabase-tab" data-bs-toggle="tab" data-bs-target="#nav-postgresdatabase" type="button" role="tab" aria-controls="nav-postgresdatabase" aria-selected="false">Postgres</button>
    <button class="nav-link" id="nav-bucket-tab" data-bs-toggle="tab" data-bs-target="#nav-bucket" type="button" role="tab" aria-controls="nav-bucket" aria-selected="false">Buckets</button>
    <button class="nav-link" id="nav-keydb-tab" data-bs-toggle="tab" data-bs-target="#nav-keydb" type="button" role="tab" aria-controls="nav-keydb" aria-selected="false">KeyDB</button>
    <button class="nav-link" id="nav-redis-tab" data-bs-toggle="tab" data-bs-target="#nav-redis" type="button" role="tab" aria-controls="nav-redis" aria-selected="false">Redis</button>
    <button class="nav-link" id="nav-dev-tab" data-bs-toggle="tab" data-bs-target="#nav-dev" type="button" role="tab" aria-controls="nav-dev" aria-selected="false">Developing</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="modal fade" id="delete-confirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Sandbox delete confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete sandbox {{ sandbox.namespace }}?</p>
            <p>To clean up your local configuration afterwards use:</p>
            <pre><code>kubectl config unset contexts."{{ sandbox.cluster.name }}/{{ sandbox.namespace }}"</code></pre>
            <p>If it's your last sandbox additionally issue:</p>
            <pre><code>kubectl config unset clusters."{{ sandbox.cluster.name }}"
kubectl config unset users."{{ sandbox.cluster['oidc-issuer-url'] }}"</code></pre>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <a href="/sandbox/{{ sandbox.namespace }}/delete" type="submit" class="btn btn-danger">Confirm</a>
          </div>
        </div>
      </div>
    </div>
    <h2>Sandbox access</h2>
    <p>Prerequisites for accessing the cluster are <a href="https://kubernetes.io/docs/tasks/tools/">kubectl</a> and <a href="https://github.com/int128/kubelogin#setup">kubelogin</a>. You might also want to try out <a href="https://k8slens.dev/">Kubernetes Lens</a>.</p>
    <p>To configure cluster access run following snippet,
    it creates a Kubernetes client context named {{ sandbox.cluster.name }}/{{ sandbox.namespace }}:

<pre><code>mkdir -p ~/.kube
cat << EOF > kubeconfig-new
apiVersion: v1
kind: Config
clusters:
  - name: {{ sandbox.cluster.name }}
    cluster:
      server: {{ sandbox.cluster.server }}{% if sandbox.cluster['certificate-authority-data'] %}
      certificate-authority-data: {{ sandbox.cluster['certificate-authority-data'] }}{% endif %}
contexts:
  - name: {{ sandbox.cluster.name }}/{{ sandbox.namespace }}
    context:
      user: {{ sandbox.cluster['oidc-issuer-url'] }}
      cluster: {{ sandbox.cluster.name }}
      namespace: {{ sandbox.namespace }}
users:
  - name: {{ sandbox.cluster['oidc-issuer-url'] }}
    user:
      exec:
        apiVersion: client.authentication.k8s.io/v1beta1
        command: kubectl
        args:
          - oidc-login
          - get-token
          - --listen-address=127.0.0.1:27890
          - --oidc-issuer-url={{ sandbox.cluster['oidc-issuer-url'] }}
          - --oidc-client-id=kubelogin
          - --oidc-use-pkce
          - --oidc-extra-scope=profile,email,groups
EOF
KUBECONFIG="$HOME/.kube/config:kubeconfig-new" kubectl config view --raw > kubeconfig-merged
mv kubeconfig-merged $HOME/.kube/config
rm -fv kubeconfig-new
</code></pre>

    <h2>Frequently used commands:</h2>
    <pre><code>kubectl apply --context {{ sandbox.cluster.name }}/{{ sandbox.namespace }} -f foobar.yaml
kubectl get deployments --context {{ sandbox.cluster.name }}/{{ sandbox.namespace }}
kubectl get statefulsets --context {{ sandbox.cluster.name }}/{{ sandbox.namespace }}</code></pre>
  </div>
  <div class="tab-pane fade" id="nav-pod" role="tabpanel" aria-labelledby="nav-pod-tab">
    <p>To interact on command line:</p>
<pre><code>kubectl get pods --context {{ sandbox.cluster.name }}/{{ sandbox.namespace }}</code></pre>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Pod name</th>
          <th scope="col">Status</th>
          <th scope="col">Links</th>
        </tr>
      </thead>
      <tbody>
        {% for pod in pods %}
        <tr>
          <td>{{ pod.metadata.name }}</td>
          <td>{{ pod.status.phase }}</td>
          <td>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#pod-snippets-{{ pod.metadata.name }}"><i class="fas fa-terminal"></i></button>
            <div class="modal fade" id="pod-snippets-{{ pod.metadata.name }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Command line snippets for this pod</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Pod details:</p>
                    <pre><code>kubectl get -o wide \
pod/{{ pod.metadata.name }} \
  --context {{ sandbox.cluster.name }}/{{ sandbox.namespace }}</code></pre>
                    <p>Pod status:</p>
                    <pre><code>kubectl describe \
pod/{{ pod.metadata.name }} \
  --context {{ sandbox.cluster.name }}/{{ sandbox.namespace }}</code></pre>
                    <p>Pod logs:</p>
                    <pre><code>kubectl logs \
pod/{{ pod.metadata.name }} \
  --context {{ sandbox.cluster.name }}/{{ sandbox.namespace }}</code></pre>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            {% for link in pod.links %}
            {% if link.icon.startswith("https://") %}
            <a href="{{ link.url }}" target="_blank"><img src="{{ link.icon }}" style="max-width: 32px; max-height: 32px;"/></a>
            {% else %}
            <a href="{{ link.url }}" class="btn btn-primary" target="_blank"><i class="{{ link.icon }}"></i></a>
            {% endif %}
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="nav-ingress" role="tabpanel" aria-labelledby="nav-ingress-tab">
    <p>To list all <a href="https://kubernetes.io/docs/concepts/services-networking/service/" target="_blank">services</a> in this sandbox</p>
    <pre><code>kubectl get svc --context {{ sandbox.cluster.name }}/{{ sandbox.namespace }}</code></pre>
    <p>To list all <a href="https://kubernetes.io/docs/concepts/services-networking/service/#endpoints" target="_blank">endpoints</a> in this sandbox</p>
    <pre><code>kubectl get ep --context {{ sandbox.cluster.name }}/{{ sandbox.namespace }}</code></pre>
    <p>To list all <a href="https://kubernetes.io/docs/concepts/services-networking/ingress/" target="_blank">ingress rules</a> in this sandbox</p>
    <pre><code>kubectl get ing --context {{ sandbox.cluster.name }}/{{ sandbox.namespace }}</code></pre>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">URL</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for i in ingress %}
        {% for rule in i.spec.rules %}
        <tr>
          <td><a href="https://{{ rule.host }}" target="_blank">{{ rule.host }}</a></td>
          <td>&nbsp;</td>
        </tr>
        {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="tab-pane fade" id="nav-mysqldatabase" role="tabpanel" aria-labelledby="nav-mysqldatabase-tab">
    <h2>To list MySQL database claims</h2>
    <pre><code>kubectl get mysqldatabaseclaims --context {{ sandbox.cluster.name }}/{{ sandbox.namespace }}</code></pre>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Phase</th>
          <th scope="col">Class</th>
          <th scope="col">Capacity</th>
        </tr>
      </thead>
      <tbody>
        {% for o in mysqldatabaseclaims %}
        <tr>
          <td>{{ o.metadata.name }}</td>
          <td>{{ o.status.phase }}</td>
          <td>{{ o.spec.class }}</td>
          <td>{{ o.spec.capacity }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2>To instantiate database</h2>
    {% for c in mysqldatabaseclasses %}
    <p>{{ c.spec.description }}</p>
    <pre><code>---
apiVersion: codemowers.cloud/v1beta1
kind: MysqlDatabaseClaim
metadata:
  name: example-{{ c.metadata.name }}
  namespace: {{ sandbox.namespace }}
spec:
  capacity: 1Gi
  class: {{ c.metadata.name }}</code></pre>
    {% endfor %}
  </div>


  <div class="tab-pane fade" id="nav-bucket" role="tabpanel" aria-labelledby="nav-bucket-tab">
    <h2>To list bucket claims</h2>
    <pre><code>kubectl get miniobucketclaims --context {{ sandbox.cluster.name }}/{{ sandbox.namespace }}</code></pre>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Phase</th>
          <th scope="col">Class</th>
          <th scope="col">Capacity</th>
        </tr>
      </thead>
      <tbody>
        {% for o in miniobucketclaims %}
        <tr>
          <td>{{ o.metadata.name }}</td>
          <td>{{ o.status.phase }}</td>
          <td>{{ o.spec.class }}</td>
          <td>{{ o.spec.capacity }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2>To claim bucket</h2>
    {% for c in miniobucketclasses %}
    <p>{{ c.spec.description }}</p>
    <pre><code>---
apiVersion: codemowers.cloud/v1beta1
kind: MinioBucketClaim
metadata:
  name: example-{{ c.metadata.name }}
  namespace: {{ sandbox.namespace }}
spec:
  capacity: 1Gi
  class: {{ c.metadata.name }}</code></pre>
    {% endfor %}
  </div>

  <div class="tab-pane fade" id="nav-postgresdatabase" role="tabpanel" aria-labelledby="nav-postgresdatabase-tab">
    <h2>To list Postgres database claims</h2>
    <pre><code>kubectl get postgresdatabaseclaims --context {{ sandbox.cluster.name }}/{{ sandbox.namespace }}</code></pre>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Phase</th>
          <th scope="col">Class</th>
          <th scope="col">Capacity</th>
        </tr>
      </thead>
      <tbody>
        {% for o in postgresdatabaseclaims %}
        <tr>
          <td>{{ o.metadata.name }}</td>
          <td>{{ o.status.phase }}</td>
          <td>{{ o.spec.class }}</td>
          <td>{{ o.spec.capacity }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2>To claim Postgres database</h2>
    {% for c in postgresdatabaseclasses %}
    <p>{{ c.spec.description }}</p>
    <pre><code>---
apiVersion: codemowers.cloud/v1beta1
kind: PostgresDatabaseClaim
metadata:
  name: example-{{ c.metadata.name }}
  namespace: {{ sandbox.namespace }}
spec:
  capacity: 1Gi
  class: {{ c.metadata.name }}</code></pre>
    {% endfor %}
  </div>

  <div class="tab-pane fade" id="nav-redis" role="tabpanel" aria-labelledby="nav-redis-tab">
    <h2>To list Redis claims</h2>
    <pre><code>kubectl get redisclaims --context {{ sandbox.cluster.name }}/{{ sandbox.namespace }}</code></pre>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Phase</th>
          <th scope="col">Class</th>
          <th scope="col">Capacity</th>
        </tr>
      </thead>
      <tbody>
        {% for o in redisclaims %}
        <tr>
          <td>{{ o.metadata.name }}</td>
          <td>{{ o.status.phase }}</td>
          <td>{{ o.spec.class }}</td>
          <td>{{ o.spec.capacity }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2>To claim Redis instance</h2>
    {% for c in redisclasses %}
    <p>{{ c.spec.description }}</p>
    <pre><code>---
apiVersion: codemowers.cloud/v1beta1
kind: RedisClaim
metadata:
  name: example-{{ c.metadata.name }}
  namespace: {{ sandbox.namespace }}
spec:
  capacity: 100Mi
  class: {{ c.metadata.name }}</code></pre>
    {% endfor %}
  </div>

  <div class="tab-pane fade" id="nav-keydb" role="tabpanel" aria-labelledby="nav-keydb-tab">
    <h2>To list KeyDB claims</h2>
    <pre><code>kubectl get keydbclaims --context {{ sandbox.cluster.name }}/{{ sandbox.namespace }}</code></pre>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Phase</th>
          <th scope="col">Class</th>
          <th scope="col">Capacity</th>
        </tr>
      </thead>
      <tbody>
        {% for o in keydbclaims %}
        <tr>
          <td>{{ o.metadata.name }}</td>
          <td>{{ o.status.phase }}</td>
          <td>{{ o.spec.class }}</td>
          <td>{{ o.spec.capacity }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2>To claim KeyDB instance</h2>
    {% for c in keydbclasses %}
    <p>{{ c.spec.description }}</p>
    <pre><code>---
apiVersion: codemowers.cloud/v1beta1
kind: KeydbClaim
metadata:
  name: example-{{ c.metadata.name }}
  namespace: {{ sandbox.namespace }}
spec:
  capacity: 100Mi
  class: {{ c.metadata.name }}</code></pre>
    {% endfor %}
  </div>

  <div class="tab-pane fade" id="nav-dev" role="tabpanel" aria-labelledby="nav-dev-tab">
    <h2>Developing with Skaffold</h2>
    <p>To <a href="https://skaffold.dev/docs/install/">Skaffold</a> develop using one of the
    <a href="https://github.com/orgs/codemowers/repositories?q=hello">template repositories</a>:
    </p>
    <pre><code>skaffold dev --kube-context {{ sandbox.cluster.name }}/{{ sandbox.namespace }} --default-repo {{ sandbox.registry.hostname }}/{{ sandbox.parameters.username }} --namespace {{ sandbox.namespace }}</code></pre>
    <h2>Building locally with Docker</h2>
    <p>In some cases you might want to have Skaffold run <code>docker build</code>
    locally. In that case create robot account at <a href="https://{{ sandbox.registry.hostname }}" target="_blank">Harbor</a> and issue <code>docker login {{ sandbox.registry.hostname }}</code> on your workstation.
    <p>To reconfigure Skaffold either comment or remove <code>build.cluster</code> section in the <code>skaffold.yaml</code> file</p>
  </div>
</div>
{% endblock %}
